// Adding custom colors

// White
.text-white {
  color: $white !important;
}
.bg-white {
  background: $white !important;
}

// Brink Pink
.text-brink-pink {
  color: $brink-pink !important;
}
.bg-brink-pink {
  background: $brink-pink !important;
}
