/**
* Global styles
**/
body {
  color: $body-color;
  font-size: $body-font-size;
}

.q-page-container {
  padding-bottom: 20px !important;
}

section {
  padding: 4rem 0;
}

.text-gradient-primary {
  background: linear-gradient(-45deg, $primary, darken($primary, 20%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/**
* Lists
**/
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
