body {
  color: $body-color;
}

.q-page-container {
  padding-bottom: 20px !important;
}

section {
  padding: 4rem 0;
}

// Text with gradient
.text-gradient-primary {
  background: linear-gradient(-45deg, $primary, light($primary, 50%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
